# Supabase
NEXT_PUBLIC_SUPABASE_URL=your-supabase-url-here
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key-here
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key-here

# Brevo
BREVO_API_KEY=your-brevo-api-key-here
BREVO_USERS_LIST_ID=4

# OpenAI API Key pour l'analyse AI des produits
OPENAI_API_KEY=your-openai-api-key-here
