@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../../.flowbite-react/class-list.json';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
  --background: var(--color-circular-lighter);
  --foreground: #171717;

  /* Circular theme variables */
  --color-circular-lighter: #fffdf6;
  --color-circular-light: #faf6e9;
  --color-circular-secondary: #ddeb9d;
  --color-circular-primary: #a0c878;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-circular-primary);
  --color-secondary: var(--color-circular-secondary);

  /* Circular primary shades */
  --color-primary-900: #264835; /* Darker shade */
  --color-primary-800: #6e9a4f; /* Darker shade */
  --color-primary-700: var(--color-circular-primary); /* Used by Flowbite*/
  --color-primary-600: var(--color-circular-secondary); /* Slightly lighter */
  --color-primary-500: #c8e2a3; /* Lighter */
  --color-primary-400: #d8eeb8; /* Even lighter */
  --color-primary-300: #e8f5cc; /* Very light */
  --color-primary-100: #f9fde8; /* Almost white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
